<html lang="en" class="has-navbar-fixed-top"><head><meta charset="utf-8"><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"></head><body><main role="main"><section class="section"><div class="container"><div class="columns is-centered"><div class="column is-half"><a class="box" href="https://bio.fwd2cv.com/" aria-label="Pizza Dough"><div class="is-flex"><figure class="image is-48x48" style="margin-right:.5em"></figure><div><div>Pizza Dough</div><small class="has-text-grey">Quick Rise White Pizza Dough</small></div></div><div style="margin-top:.5em">


</div></a></div></div></div></section></main></body></html>

<html lang="en" class="has-navbar-fixed-top"><head><meta charset="utf-8"><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"></head><body><main role="main"><section class="section"><div class="container"><div class="columns is-centered"><div class="column is-half"><a class="box" href="https://www.yahoo.com" aria-label="Pizza Dough"><div class="is-flex"><figure class="image is-48x48" style="margin-right:.5em"></figure><div><div>Pizza Dough</div><small class="has-text-grey">Quick Rise 2</small></div></div><div style="margin-top:.5em">


</div></a></div></div></div></section></main></body></html>

<html lang="en" class="has-navbar-fixed-top"><head><meta charset="utf-8"><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"></head><body><main role="main"><section class="section"><div class="container"><div class="columns is-centered"><div class="column is-half"><a class="box" href="https://www.google.com" aria-label="Pizza Dough"><div class="is-flex"><figure class="image is-48x48" style="margin-right:.5em"></figure><div><div>Pizza Dough</div><small class="has-text-grey">Quick Rise 345665</small></div></div><div style="margin-top:.5em">


</div></a></div></div></div></section></main></body></html>